@import "modules/mixin";

.main-inner {
  @include inner;
}

.main-inner-single-article {
  background: white;
}

.main-articles-element {
  border-bottom: solid 1px #333;

  &:hover {
    background: rgba(0, 0, 0, .1);
  }
}

.main-articles-element-date,
.main-articles-element-title {
  padding: 20px 10px;
}

.main-articles-element-title {
  padding-left: 20px;
}

.main-articles-element-date {
  width: 120px;
  text-align: center;
}

.main-article-header {
  margin-bottom: 4em;
}

.main-article-header-title {
  text-align: center;
}

.main-article-header-date {
  text-align: center;
}

.main-article {
  line-height: 1.9em;
}

.main-article h2 {
  margin: 2em 0 0;
  font-size: 1.4em;
  line-height: 2;
  font-weight: normal;
}

.main-article p {
  margin: 0;
}

.main-article p+p {
  margin: 1em 0 0;
}

.main-article img {
  max-width: 100%;
}
