@import "modules/mixin";

.main-inner {
  @include inner;
}

.main-inner-single-article {
  background: white;
}

@for $i from 0 through 20 {
  .main-articles-element-#{$i} {
    background: hsl(360deg / 20 * $i, 80%, 85%);
    color: hsl(360deg / 20 * $i, 90%, 40%);

    &:hover {
      color: hsl(360deg / 20 * $i, 90%, 70%);
    }
  }
}

.main-articles-element-date,
.main-articles-element-title {
  padding: 20px 10px;
}

.main-articles-element-date {
  background: rgba(255, 255, 255, .2);
}

.main-articles-element-title {
  padding-left: 20px;
}

.main-articles-element-date {
  width: 120px;
  text-align: center;
}

.main-article-header {
  margin-bottom: 4em;
}

.main-article-header-title {
  text-align: center;
}

.main-article-header-date {
  text-align: center;
}

.main-article {
  line-height: 1.9em;
}

.main-article h2 {
  margin: 2em 0 0;
  font-size: 1.2em;
  line-height: 2;
  font-weight: normal;
}

.main-article p {
  margin: 0;
}

.main-article p+p {
  margin: 2em 0;
}

.main-article img {
  max-width: 100%;
}
