@charset "utf-8";

@mixin inner {
  padding: 60px;
  width: 800px;
  margin: 0 auto;
}

body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Avenir Next', 'Hiragino Kaku Gothic ProN', Meiryo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F3F1E8;
}

a {
  color: inherit;
}

table {
  width: 100%;
}

h1,
h2 {
  margin: 0;
}

.header-image {
  float: left;
}

.header-image-element {
  border-radius: 50px;
}

.header-inner {
  @include inner;
  overflow: hidden;
}

.header-text {
  float: left;
  padding: 30px 20px;
}

.header-text-title {
  line-height: 1;
  margin: 0;
}

.header-text-description {
  margin: 0;
}

.main-inner {
  @include inner;
}

.main-inner-single-article {
  background: white;
}

.main-articles-element-table {
  width: 100%;
}

.main-articles-element-year {
  background: hsl(0, 20%, 86%);
}

.main-articles-element-month {
  background: hsl(0, 20%, 87%);
}

.main-articles-element-day {
  background: hsl(0, 20%, 89%);
}

.main-articles-element-title {
  background: hsl(0, 20%, 90%);
  padding-left: 20px;
}

.main-articles-element-day,
.main-articles-element-month,
.main-articles-element-year,
.main-articles-element-title {
  padding: 20px 10px;
  color: hsl(0, 20%, 30%);

  .main-articles-element:hover & {
    background: hsl(0, 20%, 80%);
  }
}

.main-articles-element-day,
.main-articles-element-month,
.main-articles-element-year {
  width: 40px;
  text-align: center;
}

.main-article-header {
  margin-bottom: 4em;
}

.main-article-header-title {
  text-align: center;
}

.main-article-header-date {
  text-align: center;
}

.main-article {
  line-height: 1.75em;
}

.main-article h2 {
  margin: 2em 0 .2em;
  font-size: 1.2em;
}

.main-article p {
  margin: 0;
}

.main-article p+p {
  margin: 2em 0;
}

.footer-inner {
  @include inner;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer-powers,
.footer-copyright {
  margin: 0;
}

.footer-powers {
  font-size: 80%;
}
