@charset "utf-8";

@mixin inner {
  padding: 40px;
  width: 860px;
  margin: 0 auto;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: #F3F1E8;
}

a {
  color: inherit;
}

table {
  width: 100%;
}

h1,
h2 {
  margin: 0;
}

.header-image {
  float: left;
}

.header-image-element {
  border-radius: 50px;
}

.header-inner {
  @include inner;
  overflow: hidden;
}

.header-text {
  float: left;
  padding: 20px;
}

.header-text-title {
  margin: 0;
}

.header-text-description {
  margin: 0;
}

.main-inner {
  @include inner;
}

.main-articles-element-table {
  width: 100%;
}

.main-articles-element-year {
  background: hsl(0, 20%, 86%);
}

.main-articles-element-month {
  background: hsl(0, 20%, 87%);
}

.main-articles-element-day {
  background: hsl(0, 20%, 89%);
}

.main-articles-element-title {
  background: hsl(0, 20%, 90%);
  padding-left: 20px;
}

.main-articles-element-day,
.main-articles-element-month,
.main-articles-element-year,
.main-articles-element-title {
  padding: 20px 10px;
  color: hsl(0, 20%, 30%);

  .main-articles-element:hover & {
    background: hsl(0, 20%, 80%);
  }
}

.main-articles-element-day,
.main-articles-element-month,
.main-articles-element-year {
  width: 40px;
  text-align: center;
}

.footer-inner {
  @include inner;
}
