body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Avenir Next', 'Hiragino Kaku Gothic ProN', Meiryo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F3F1E8;
  color: #333;
}

a {
  color: inherit;
}

table {
  width: 100%;
}

h1,
h2 {
  margin: 0;
}
