- blog.articles.each do |article|
  = link_to article.title, article

-# page_number
-# num_pages
-# prev_page
-# next_page
-# paginate
-# page_articles
-# article.date
-# article.body
-# article.title

| index.html.slim
